
  @import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Griffy&family=Roboto+Slab:wght@300&family=Roboto:wght@400;500;700;900&display=swap');
  
@tailwind base;
@tailwind components;
@tailwind utilities;

  /* @import url('https://fonts.googleapis.com/css2?family=Fuggles&family=Roboto+Slab:wght@300&family=Roboto:wght@400;500;700;900&display=swap'); */
  /* font-family: 'Fuggles', cursive;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Slab', serif; */
body{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  /* font-family: 'Roboto Slab', serif; */

}

.btn{
  background-color: #F26D1E;
  color: white;
  font-weight: 600;
  padding: 0.5rem;
  border-radius: 10rem;
  margin-right: 10px;
}