.section_subtitle{
    color: #fff;
    font-weight: 700;
    text-align: center;
    border-radius: 40%;
    font-family: 'Roboto', sans-serif;
}
.home_video-box video{
    height: 350px;
    border: 2px solid white;
    border-radius: 20px;
}
/* .wave{
    position: relative;
    background-color: #F26D1E;
} */
