.section_subtitle{
    color: #fff;
    font-weight: 700;
    text-align: center;
    border-radius: 40%;
    font-family: 'Roboto', sans-serif;
}
.home_video-box video{
    height: 350px;
    border: 2px solid white;
    border-radius: 20px;
}
.page-container{
    display: flex;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
}

.modal-container{
    display: flex;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    justify-content: center;
    align-items: center;
}

input {
    border: 1px solid #ccc; /* Add a border with a light gray color */
    border-radius: 5px; /* Add rounded corners */
    padding: 10px; /* Adjust padding for better spacing */
    width: 100%; /* Make the input element take the full width of its container */
    font-size: 16px; /* Set the font size */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
    transition: border-color 0.3s, box-shadow 0.3s; /* Add smooth transitions for hover and focus effects */
  }
  
  input:focus {
    border-color: #007BFF; /* Change the border color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.4); /* Add a stronger shadow on focus */
    outline: none; /* Remove the default outline */
  }
  
  textarea {
    border: 1px solid #ccc; /* Add a border with a light gray color */
    border-radius: 5px; /* Add rounded corners */
    padding: 10px; /* Adjust padding for better spacing */
    width: 100%; /* Make the input element take the full width of its container */
    font-size: 16px; /* Set the font size */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
    transition: border-color 0.3s, box-shadow 0.3s; /* Add smooth transitions for hover and focus effects */
  }
  
  textarea:focus {
    border-color: #007BFF; /* Change the border color on focus */
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.4); /* Add a stronger shadow on focus */
    outline: none; /* Remove the default outline */
  }


  .rounded-image {
    animation: rotateAnimation 100s linear infinite;
  }
  
  @keyframes rotateAnimation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  